<?xml version="1.0"?>

<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <system.serviceModel>
    <services>
      <!-- Before deployment, you should remove the returnFaults behavior configuration to avoid disclosing information in exception messages -->
      <service name="MetricImperial" behaviorConfiguration="returnFaults">
        <endpoint contract="IMetricImperial" binding="wsHttpBinding"/>
      </service>
    </services>
    <behaviors>
      <behavior name="returnFaults" returnUnknownExceptionsAsFaults="true" />
    </behaviors>
  </system.serviceModel>

  <system.web>
    <compilation debug="true"/>
  </system.web>

</configuration>