<?xml version="1.0"?>

<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <connectionStrings>
    <add name="AdventureWorksConnectionString" connectionString="Data Source=BOOKDEV;Initial Catalog=AdventureWorks;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <services>
      <!-- Before deployment, you should remove the returnFaults behavior configuration to avoid disclosing information in exception messages -->
      <service name="BikeService" behaviorConfiguration="returnFaults">
        <endpoint contract="IBikeService" binding="wsHttpBinding"/>
      </service>
    </services>
    <behaviors>
      <behavior name="returnFaults" returnUnknownExceptionsAsFaults="true" />
    </behaviors>
  </system.serviceModel>

  <system.web>
    <compilation debug="true"/>
  </system.web>

</configuration>